<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
    <title>Dogs and Cats Table</title>
</head>
<body>
    <h1>Dogs and Cats Information</h1>
    <table>
        <tr>
            <th>Animal</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Dog</td>
            <td>Fido</td>
            <td>Golden Retriever</td>
            <td>3 years</td>
        </tr>
        <tr>
            <td>Cat</td>
            <td>Whiskers</td>
            <td>Siamese</td>
            <td>5 years</td>
        </tr>
        <tr>
            <td>Dog</td>
            <td>Rex</td>
            <td>German Shepherd</td>
            <td>4 years</td>
        </tr>
        <tr>
            <td>Cat</td>
            <td>Mittens</td>
            <td>Maine Coon</td>
            <td>2 years</td>
        </tr>
    </table>
</body>
</html>
